<!--leaflet Map-->
{{#if dealers}}
  <div class="content box">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
{{/if}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script>
  const map = L.map('map').setView([53.517073, -7.5840399], 7);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
  }).addTo(map); 

  // creating a marker for each placemark and adding it to the map
  let marker, circle, zoomed; 
  {{#each dealers}}
  marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{name}}"});
  // adding a popup to the marker that displays the placemark title and image if it exists
  marker.bindPopup("<span class='popup-stats-ctn title'><strong>{{name}}</strong></span>" 
                    + "<div class='popup-stats-ctn'><span>"
                    + "<i class='fa-solid fa-address-book'></i></span><span class='details'> {{address}}"
                    + "</span></div><div class='popup-stats-ctn'><span>"
                    + "<i class='fa-solid fa-phone'></i></span><span class='details'> {{phone}}"
                    + "</span></div><div class='popup-stats-ctn'><span>"
                    + "<i class='fa-solid fa-envelope'></i></span><span class='details'> {{email}}"
                    + "</span></div><div class='popup-stats-ctn'><span>"
                    + "<i class='fa-solid fa-globe-pointer'></i></span><span class='details'> {{website}}"
                    + "</span></div>"
                    );
  marker.addTo(map);
  {{/each}}
</script>