<!--leaflet Map-->
{{#if dealerInfo}}
  <div class="content box">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
{{/if}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script>
  const map = L.map('map').setView([53.517073, -7.5840399], 7);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
  }).addTo(map); 

  // creating a marker for each placemark and adding it to the map
  let marker, circle, zoomed; 
  {{#each dealerInfo}}
      marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{name}}"});
      // adding a popup to the marker that displays the placemark title and image if it exists
      marker.bindPopup("<span class='popup-stats-ctn title'><strong>{{name}}</strong></span>" 
                        + "<div class='popup-stats-ctn'><span>"
                        + "<i class='fa-solid fa-car-side'></i></span><span class='details'> {{brandName}}"
                        + "</span></div><div class='popup-stats-ctn'><span>"
                        + "<i class='fa-solid fa-address-book'></i></span><span class='details'> {{address}}"
                        + "</span></div><div class='popup-stats-ctn'><span>"
                        + "<i class='fa-solid fa-phone'></i></span><span class='details'> {{phone}}"
                        + "</span></div>"
                        );
      marker.addTo(map).on('click', function(e) {
      var myDiv = document.getElementById('test1');
      if (myDiv.style.display === 'none') {
        myDiv.style.display = 'block';
        document.getElementById('test1').innerHTML = "{{name}}";
      } else {
        document.getElementById('test1').innerHTML = "{{name}}";
      }
      });
  {{/each}}
</script>

{{#each dealerInfo}}
lat= {{latitude}}
long= {{longitude}}
title= {{name}}
address= {{address}}
phone= {{phone}}
website= {{website}}
{{/each}}