



<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li id="brand-tab" class="" data-target="search-by-brand">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-car" aria-hidden="true"></i></span>
        <span>Search by Car Brand</span>
      </a>
    </li>
    <li id="county-tab" class="" data-target="search-by-county">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-map-location-dot" aria-hidden="true"></i></span>
        <span>Search by County</span>
      </a>
    </li>
    <li id="cartype-tab" class="" data-target="search-by-cartype">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-car-side-bolt" aria-hidden="true"></i></span>
        <span>Search by Car Body Type</span>
      </a>
    </li>
  </ul>
</div>

<!-- Content for each tab -->
<div id="search-by-brand" class="tab-content" style="display: block;">
    <form action="/envirobuddy/carbrand/" method="get">
        <div class="field has-addons has-addons-centered">
            <div class="control">
                <div class="select">
                    <select name="brandName">
                        <option value="">Select Brand</option>
                        {{#each brandNames}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                     </select>
                </div>
            </div>
            <div class="control">
                <input type="submit" value="Filter Car Dealers" class="button is-primary">
            </div>
        </div>
    </form>
</div>

<div id="search-by-county" class="tab-content" style="display: none;">
    <form action="/envirobuddy/carcounty/" method="get">
        <div class="field has-addons has-addons-centered">
            <div class="control">
                <div class="select">
                    <select name="countyName">
                    <option value="">Select County</option>
                        {{#each uniqueCountyNames}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="control">
                <input type="submit" value="Filter Car Dealers" class="button is-primary">
            </div>
        </div>
    </form>
</div>

<div id="search-by-cartype" class="tab-content" style="display: none;">
    <form action="/envirobuddy/carbodytype/" method="get">
        <div class="field has-addons has-addons-centered">
            <div class="control">
                <div class="select">
                    <select name="carBodyType">
                        <option value="">Select Car Body Type</option>
                        {{#each carBodyTypes}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="control">
                <input type="submit" value="Filter Car Dealers" class="button is-primary">
            </div>
        </div>
    </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get the list items and content divs
    const brandTab = document.getElementById('brand-tab');
    const searchByBrand = document.getElementById('search-by-brand');
    const countyTab = document.getElementById('county-tab');
    const searchByCounty = document.getElementById('search-by-county');
    const carTypeTab = document.getElementById('cartype-tab');
    const searchByCarType = document.getElementById('search-by-cartype');

    // Function to hide all content divs and remove 'is-active' class from all tabs
    function resetTabs() {
    [searchByBrand, searchByCounty, searchByCarType].forEach(div => div.style.display = 'none');
    [brandTab, countyTab, carTypeTab].forEach(tab => tab.classList.remove('is-active'));
    }

    // Add click event listeners to the list items
    brandTab.addEventListener('click', () => {
    resetTabs();
    searchByBrand.style.display = 'block';
    brandTab.classList.add('is-active');
    });

    countyTab.addEventListener('click', () => {
    resetTabs();
    searchByCounty.style.display = 'block';
    countyTab.classList.add('is-active');
    });

    carTypeTab.addEventListener('click', () => {
    resetTabs();
    searchByCarType.style.display = 'block';
    carTypeTab.classList.add('is-active');
    });

    // Add change event listener to carBodyType, brandName and countyName select element
    document.querySelector('select[name="carBodyType"]').addEventListener('change', function() {
        var form = this.closest('form');
        var selectedBodyType = this.value;
        form.action = "/envirobuddy/carbodytype/";
    });

    document.querySelector('select[name="brandName"]').addEventListener('change', function() {
        var form = this.closest('form');
        var selectedBrandName = this.value;
        form.action = "/envirobuddy/carbrand/";
    });

    document.querySelector('select[name="countyName"]').addEventListener('change', function() {
        var form = this.closest('form');
        var selectedCounty = this.value;
        form.action = "/envirobuddy/carcounty/";
    });

    const url = window.location.href;

    // Find all tabs
    const tabs = document.querySelectorAll('#brand-tab, #county-tab, #cartype-tab');
    tabs.forEach(tab => tab.classList.remove('is-active'));

    // Add is-active class to the appropriate tab based on the URL
    if (url.includes('/envirobuddy/carbrand/')) {
        resetTabs()
        document.getElementById('brand-tab').classList.add('is-active');
        searchByBrand.style.display = 'block'; // Set the display property of the search-by-county div to 'block'
    } else if (url.includes('/envirobuddy/carcounty/')) {
        resetTabs()
        document.getElementById('county-tab').classList.add('is-active');
        searchByCounty.style.display = 'block'; // Set the display property of the search-by-county div to 'block'
    } else if (url.includes('/envirobuddy/carbodytype/')) {
        resetTabs()
        document.getElementById('cartype-tab').classList.add('is-active');
        searchByCarType.style.display = 'block'; // Set the display property of the search-by-county div to 'block'
    }

    // Select all option elements
    const options = document.querySelectorAll('option');

    // Capitalize the text of each option
    options.forEach(option => {
        const words = option.textContent.split(' ');
        const capitalizedWords = words.map(word => word.charAt(0).toUpperCase() + word.slice(1));
        const capitalizedText = capitalizedWords.join(' ');
        option.textContent = capitalizedText;
    });
});
</script>