<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th>Geo Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each county.dealers}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{address}}
        </td>
        <td>
          {{phone}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          {{website}}
        </td>
        <td>
          {{latitude}} {{longitude}}
        </td>
        <td>
          <a href="/county/{{../county._id}}/deletedealer/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
